@import '../../styles/index.scss';
.Popover {
  &-reference {
    display: inline-block;
    padding: 2px;
    width: fit-content;
    block-size: fit-content;
  }
  &-content {
    background: $white;
    padding: 12px;
    color: $darkGray;
    filter: drop-shadow(0px 3px 15px $brightGrey);
    z-index: 102;
    border-radius: 4px;
    text-align: left;
    position: relative;
    font-size: 0.8rem;
    visibility: hidden;

    &[data-show='true'] {
      visibility: visible;
    }

    .arrow,
    .arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      transition: top 0.3s ease-in, bottom 0.3s ease-in, left 0.3s ease-in, right 0.3s ease-in;
    }

    .arrow {
      visibility: hidden;
    }

    .arrow::before {
      visibility: hidden;
      content: '';
      transform: rotate(45deg);
    }

    &[data-popper-placement^='top'] > .arrow {
      bottom: -4px;
    }

    &[data-popper-placement^='bottom'] > .arrow {
      top: -4px;
    }

    &[data-popper-placement^='left'] > .arrow {
      right: -4px;
    }

    &[data-popper-placement^='right'] > .arrow {
      left: -4px;
    }

    .arrow[data-hide='true']::before {
      visibility: hidden !important;
    }

    &[data-show] > .arrow::before {
      visibility: visible;
    }
  }
}
