@import '../../styles/index.scss';

.Pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @at-root #{$rtlLanguagesSelector} & {
    direction: rtl;
  }

  .Pagination-right-content {
    display: flex;
    align-items: center;
  }
}
