@import '../../../../styles/index.scss';

.Option {
  .Checkbox {
    display: block;

    label {
      padding: 6px 12px;
    }
  }
  .Option-singlechoice-item {
    padding: 6px 12px;
    cursor: pointer;
    &.Button {
      font-weight: 400;
      width: 100%;
      justify-content: start;
      text-align: left;
      font-size: 14px;

      &:focus {
        color: $lightGray;
      }
    }
  }

  .Option-singlechoice-item-selected {
    color: $lightGray;
  }

  &:hover {
    background: $lighterGray;
  }
}
