@import '../../styles/index.scss';

.Tabs {
  .Tabs-TabsNavigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .Tabs-TabsNavigation-wrapper-item {
      position: relative;
      margin-right: 24px;

      &.Tabs-TabsNavigation-wrapper-item-has-notification {
        margin-right: 40px;
      }

      .Tabs-TabsNavigation-notificationCount {
        background: $brightOrange;
        border-radius: 100px;
        height: 22px;
        font-size: 12px;
        font-weight: 400;
        color: $white;
        text-align: center;
        line-height: 22px;
        padding: 0 8px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(100%, 0);
      }
    }

    .Tabs-TabsNavigation-item {
      font-size: 18px;
      color: $middleGray;
      cursor: pointer;
      padding: 0;
      font-weight: 700;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      height: 38px;

      &:focus-visible {
        @extend .focus-visible;
      }

      &.Tabs-TabsNavigation-item-active {
        border-bottom: 2px solid $brightOrange;
        color: $brightOrange;
      }

      &.Tabs-TabsNavigation-item-disabled {
        color: $lightGray;
        cursor: not-allowed;
      }
    }
  }

  &.Tabs-with-bottom-border .Tabs-TabsNavigation {
    border-bottom: 1px solid $lightGray;

    .Tabs-TabsNavigation-item {
      margin-bottom: -1px;
    }
  }
}
