@import '../../../../styles/index.scss';
.OptionTree {
  padding: 6px 0;

  .Option .Option-singlechoice-item {
    padding-left: 0;
  }
  &-item {
    display: flex;
    flex-direction: column;

    &-current {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      gap: 6px;
      cursor: pointer;
      padding-left: var(--option-tree-item-padding);

      @at-root #{$rtlLanguagesSelector} & {
        padding-right: var(--option-tree-item-padding);
        padding-left: 0;
      }

      &-disabled {
        cursor: not-allowed;

        * {
          cursor: not-allowed;
        }
      }

      &:hover {
        background: $lighterGray;
      }

      &-control {
        flex: 1;
      }

      .Button {
        min-width: auto;
        min-height: auto;
        width: 23px;
        height: 23px;
        padding: 0;
      }

      .Option {
        .Checkbox label {
          padding: 0;
        }
      }
    }
  }
}
