$white: #ffffff;
$lighterGray: #f3f7f9;
$midLighterGray: #eaeff3;
$lightGray: #ccd5dd;
$middleGray: #74838a;
$preDarkGray: #404a4f;
$darkGray: #2c3e46;
$brightGrey: #2c3e463f;
$brightGreyOpacity: #2c3e4633;
$darkGreyOpacity: #2c3e4682;
$orange: #ff6f00;
$darkOrange: #c75f00;
$brightOrange: #ff881a;
$dullOrange: #fbd1ab;
$paleOrange: #ffeddc;
$green: #35c04c;
$preDarkGreen: #34b64a;
$darkGreen: #00a01a;
$dullGreen: #ecffef;
$lightRed: #f75656;
$red: #f03e3e;
$darkRed: #d43333;
$brightRed: #ffb8ae;
$dullRed: #fff0f0;
$vividViolet: #8543da;
$lightViolet: #eddfff;
$skyBlue: #329dff;
$paleBlue: #e4f5ff;
$black: #000000;
$whiteOpacity: #ffffffb3;
