.flex-space-between-align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
