@import '../../../../styles/index.scss';

.InputTag {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;

  .Input-disabled,
  .Input-disabled input {
    background: none;
    cursor: not-allowed;
  }

  .InputTag-selected-items {
    position: absolute;
    font-size: 12px;
    margin-left: 12px;
    align-items: center;
    display: flex;
    top: 6px;

    .InputTag-selected-item-hided {
      line-height: 18px;
    }
    .InputTag-selected-item {
      padding: 2px 8px;
      background: $lighterGray;
      color: $darkGray;
      border-radius: 4px;
      margin-right: 4px;
      white-space: nowrap;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .Input-wrapper {
    .Input:hover,
    .Input .Input-textfield:hover,
    .Input:hover .Input-textfield {
      background: inherit;
    }
  }

  input {
    cursor: pointer;
  }
}
