@import '../../../../styles/index.scss';

.PageSelector {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  .PageSelector-item {
    margin-right: 10px;

    &.PageSelector-item-active {
      button {
        text-decoration: none;
        color: $darkGray;
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
          color: $darkGray;
        }
      }
    }

    &.PageSelector-item-dots button {
      letter-spacing: 2px;
    }
    button {
      text-decoration: none;
      color: $middleGray;
      min-width: auto;
      font-weight: 400;
      min-height: auto;
      font-size: 14px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @at-root #{$rtlLanguagesSelector} & {
      &:first-child {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
  }

  .PageSelector-item-navigation {
    @at-root #{$rtlLanguagesSelector} & {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
