.ToasterContainer {
  position: fixed;
  min-height: 100px;
  z-index: 200;
  min-width: 200px;

  &-content {
    margin: 12px;
    max-width: 511px;
  }

  &-top {
    inset: 24px auto auto 50%;
    transform: translateX(-50%);

    &-right {
      top: 10px;
      right: 10px;
    }

    &-left {
      top: 10px;
      left: 10px;
    }
  }

  &-bottom {
    inset: auto auto 24px 50%;
    transform: translateX(-50%);

    &-right {
      bottom: 10px;
      right: 10px;
    }

    &-left {
      bottom: 10px;
      left: 10px;
    }
  }
}
