@import '../../../../styles/index.scss';

.GoToPage {
  @extend .flex-space-between-align-center;
  color: $darkGray;
  font-size: 14px;
  margin-left: 15px;

  @at-root #{$rtlLanguagesSelector} & {
    margin-right: 15px;
    margin-left: 0;
  }

  .Input-wrapper {
    min-width: auto;
    margin: 0 5px;
    .Input {
      min-width: auto;
      padding: 0;
      overflow: hidden;
      .Input-textfield {
        min-width: auto;
      }
    }
  }
}
