@import '../../styles/index.scss';

.Checkbox {
  display: table-cell;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;

    @mixin checkbox(
      $backgroundColor: $white,
      $borderColor: $lightGray,
      $hoverColor: $lighterGray,
      $color: $darkGray
    ) {
      .Checkbox-container {
        background-color: $backgroundColor;
        border: 1px solid $borderColor;
        border-radius: 3px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus-visible {
          @extend .focus-visible;
        }
      }

      &:hover {
        .Checkbox-container {
          background-color: $hoverColor;
        }
      }

      + .Checkbox-label {
        color: $color;
      }
    }

    input[type='checkbox'] {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .Checkbox-unchecked {
      @include checkbox();
    }

    .Checkbox-checked:not(.Checkbox-error, .Checkbox-disabled) {
      @include checkbox(
        $backgroundColor: $brightOrange,
        $borderColor: $brightOrange,
        $hoverColor: $orange
      );
    }

    .Checkbox-disabled {
      @include checkbox(
        $backgroundColor: $midLighterGray,
        $borderColor: $midLighterGray,
        $hoverColor: $midLighterGray,
        $color: $midLighterGray
      );
    }

    .Checkbox-error:not(.Checkbox-disabled) {
      &:where(.Checkbox-unchecked) {
        @include checkbox(
          $backgroundColor: $white,
          $borderColor: $red,
          $color: $red,
          $hoverColor: $white
        );
      }

      &:where(.Checkbox-checked) {
        @include checkbox(
          $backgroundColor: $red,
          $borderColor: $red,
          $color: $red,
          $hoverColor: $red
        );
      }
    }

    .Checkbox-label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
