@import '../../styles/index.scss';

.DropDownButton {
  .Popover-reference {
    padding: 0;

    .Button {
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 4px;
    }
  }

  .DropDownButton-popover {
    .Popover-content {
      padding: 6px 0;

      .DropDownButton-options {
        .Button.DropDownButton-option {
          font-size: 14px;
          line-height: 19px;
          font-weight: 400;
          width: 100%;
          min-width: unset;
          min-height: unset;
          display: flex;
          justify-content: start;
          border-radius: 0;
          padding: 6px 12px;

          &.active {
            background-color: $lightGray;
            border-color: $lightGray;
          }
        }
      }
    }
  }
}
