@import '../../styles/index.scss';

.Toaster {
  width: fit-content;
  border-radius: 4px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 13px 8px;

  &-content {
    word-wrap: break-word;
    max-width: 399px;
    display: flex;
    align-items: center;

    &-wrapper {
      display: flex;
      gap: 12px;
    }
  }

  &-icon {
    width: 40px;
    height: 40px;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: start;
    }
  }

  &-action {
    .Button {
      min-width: unset;
      min-height: unset;

      &:hover {
        color: unset;
        svg {
          color: unset;
        }
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &-success {
    background: $dullGreen;
    border: 1px solid $green;
    box-shadow: 0px 3px 15px rgba(44, 62, 70, 0.25);
  }

  &-error {
    background: $dullRed;
    border: 1px solid $red;
    box-shadow: 0px 3px 15px rgba(44, 62, 70, 0.25);
  }

  &-warning {
    background: $paleOrange;
    border: 1px solid $brightOrange;
    box-shadow: 0px 3px 15px rgba(44, 62, 70, 0.25);
  }

  &-info {
    background: $white;
    border: 1px solid $lightGray;
    box-shadow: 0px 3px 15px rgba(44, 62, 70, 0.25);
  }
}
