@import '../../styles/index.scss';

.Table {
  position: relative;

  &-minimal {
    .Table-header {
      background: unset;
      .Table-cell {
        padding: 8.5px 8px;
      }
    }
    .Table-body {
      .Table-row {
        border: unset;
        .Table-cell {
          padding: 6px 8px;
        }
      }
    }
  }

  &-rtl {
    .Table-row {
      direction: rtl;
    }
    .Table-column-sorter-inner {
      margin-left: 0;
      margin-right: 9px;
    }

    .Table-header-summary {
      direction: rtl;
      padding: 8.5px 12px;
    }

    .Sorter-inner {
      margin-right: 9px;
      margin-left: unset;
    }
  }
  &-row {
    display: grid;

    &.with-scroll {
      &:last-child {
        .Table-cell {
          padding-right: 12px;
        }
      }
    }

    .Table-cell {
      display: flex;

      &:last-child {
        justify-content: flex-end;
        padding-right: 9px;
      }

      &-align {
        &-start {
          &.Table-cell {
            justify-content: flex-start;
          }
        }
        &-center {
          &.Table-cell {
            justify-content: center;
          }
        }
        &-end {
          &.Table-cell {
            justify-content: flex-end;
          }
        }
      }
      &-ellipsis {
        white-space: nowrap;
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &-header {
    min-height: 38px;
    .Table-cell {
      padding: 8.5px 12px;
    }
    background: $midLighterGray;
    border-radius: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $middleGray;

    &.action {
      background: $paleOrange;
      z-index: 13;
    }

    &-summary {
      padding: 8.5px 9px;
      &.with-scroll {
        padding: 8.5px 12px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-body {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background: rgba(44, 62, 70, 0.3);
      border-radius: 100px;
    }
    .Table-row {
      &:hover {
        background: $lighterGray;
      }
      &:focus-visible,
      &:focus-within {
        background: $lighterGray;
        outline: none;
      }
      background: $white;
      border-bottom: 1px solid $lightGray;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $darkGray;

      &:last-child {
        border-bottom: unset;
      }

      .Table-cell {
        padding: 17.5px 12px;
        &:last-child {
          padding-right: 9px;
        }
      }
    }
  }

  &-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $darkGray;
    min-height: 200px;
    z-index: 4;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &-spining {
    position: absolute;
    top: 0;
    left: 0;
    clear: both;
    background-color: rgba(255, 255, 255, 0.7);

    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
