@import '../../styles/index.scss';

.Message {
  width: 100%;

  &-wrapper {
    padding: 4px 8px;
    background: $white;
    border-radius: 4px;

    display: flex;
    justify-content: start;

    &-error {
      border: 1px solid $red;
      box-shadow: 0px 0px 4px $brightGreyOpacity;
    }

    &-success {
      border: 1px solid $darkGreen;
      box-shadow: 0px 0px 4px $brightGreyOpacity;
    }

    &-warning {
      border: 1px solid $brightOrange;
      box-shadow: 0px 0px 4px $brightGreyOpacity;
    }

    &-info {
      border: 1px solid $lightGray;
      box-shadow: 0px 0px 4px $brightGreyOpacity;
    }
  }

  &-icon {
    width: 24px;
    height: 24px;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: start;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &-content {
    padding: 0 12px 0 8px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
  }
}
